body {
background-color: salmon;
}

/* button { */
    /* hover effect
    continuous looping
    text black when hovering
    mirror effect when hovering
} */

#green {
color: green;
}

#pink {
color: pink;
}

#blue {
color: blue;
}